.back0{
  background-image: url("https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=786a67dca1d8791d181bfd90b16240d9");
  background-size: cover;
  text-align: center;
}
.back1{
  background-image: url("https://images.unsplash.com/photo-1443926818681-717d074a57af?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=407e042db9cd1cc68c0c5abc52b9f881");
  background-size: cover;
  text-align: center;
}
.back2{
  background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=510562df272fc272c2e7b9a9189a6261");
  background-size: cover;
  text-align: center;
}
.back3{
  background-image: url("https://images.unsplash.com/photo-1427501482951-3da9b725be23?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=923d114739a46e80f5ca973039ca3799");
  background-size: cover;
  text-align: center;
}
.back4{
  background-image: url("https://images.unsplash.com/photo-1441742917377-57f78ee0e582?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=71dc9c3a0a9141db359f80e9da76dcd0");
  background-size: cover;
  text-align: center;
}
.page{
  background-color: rgba(75,75,75,.4);
}
header{
  width: 100%;
  color: rgb(200,200,200);
  padding: 15px;
}
h1{
  color: rgb(250,250,250);
}
.play{
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}
#game{

}
.score{
    position: relative;
    top: 30px;
    text-align: center;
    color: rgb(200,200,200);
}
    .score h4{
      font-size: 36px
    }
    .score #p1-score, #p2-score{
      font-size: 36px;
      background: rgba(150,150,250,.75);
      border-radius: 3%;
      color: rgb(225,225,0);
    }
    .my-move{
      border-bottom: 2px solid rgb(225,225,0);
    }
  #board{
    text-align: center;
  }
  .column{
    padding: 0;
  }
  .square{
    background-color: transparent;
    height: 80px;
    text-align: center;
  }
    .square.middle{
      border-top: 5px solid white;
      border-bottom: 5px solid white;
    }
    .square.center{
      border-right: 5px solid white;
      border-left: 5px solid white;
    }
    .square:hover{
      background-color: rgba(200,200,200,.6);
    }

  .fa-times{
    font-size: 75px;
    color: white;
  }
  .fa-circle-o{
    font-size: 75px;
    color: white;
  }
footer{
  height: 50px;
  width: 100%;
  color: rgb(200,200,200);
  font-size: 10px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 20px;

}
a{
  color: rgb(200,200,200);
}
a:hover{
  color: rgb(200,200,200);
}
#reset-board{
  float: left;
}
#reset-score{
  float: right;
}
@media screen and (max-width: 990px){

  header{
    width: 100%;
  }
  .play{

    margin-top: 10px;
  }
  #game{

    padding: 40px;
  }
  #board{
    margin-top: 20px;
  }
