body{
  background-color: rgb(250,250,250);
  text-align: center;
  top: 200px;
}
header{
  height: 200px;
  width: 100%;
  background-color: black;
  color: rgb(250,250,250);
  margin-top: -20px;
  position: relative;
}
  h1{
    position: relative;
    top: 40%;
  }
.play{
  text-align: center;
}
  #game{
    text-align: center;
    clear: both;
  }
  #p1{
    padding: 10px;
    text-align: center;
  }
  #p2{
    padding: 10px;
    text-align: center;
  }
  .btn{
    border-radius: 0px;
  }


@media screen and (max-width: 585px){
  #board{
    width: 4em;
  }
}

